@{
    ViewBag.Title = "NGUYỄN THỊ DIỄM HƯƠNG";
}
<h2>@ViewBag.Title.</h2>
<h3>Bài Thi Giữa Kỳ của NGUYỄN THỊ DIỄM HƯƠNG-cam kết không đạo văn</h3>

<address>
    CNTT2 - Môn lập trình ứng dụng web với công nghệ Asp.net MVC5
</address>

<address>
    <strong>Support:</strong>   <a href="HUONGNTD1810@gmail.com">HUONGNTD1810@gmail.com</a><br />
    <strong>Cá nhân:</strong> <a href="HUONGNTD1810@gmail.com">HUONGNTD1810@gmail.com</a>
</address>